<h1><%= @title %></h1>

<form action="bmi" method="post">
  
  <label for="units">units</label>
  <select name="units">
    <option value="kg">kg</option>
    <option value="lb">lb</option>
  </select>

  <label for="mass">mass</label> 
  <input type="text" name="mass">

  <label for="height">height</label>
  <input type="text" name="height">

  <button>how fat am i?</button>

</form>

<% if @result %>
  <p>result is <%= @result %></p>
<% end %>