<!DOCTYPE html>
<html>
<head>
  <title>RoHo's Sinatra Calc</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">basic</a></li>
      <li><a href="/mortgage">mortgage</a></li>
      <li><a href="/bmi">bmi</a></li>
      <li><a href="/distance">distance</a></li>
      <!-- <li><a href="#">a.n.other</a></li> -->
    </ul>
  </nav>

  <%= yield %>


</body>
</html>